{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Упражнения</title>
</head>
<body>
    {% block content %}

    <div class="lesson-container">
        <div class="lesson-title-container">
            <h1 class="lesson-title">{{useful.title}}</h1>
            <span>{{useful.category}}</span>
        </div>
        <span class="lesson-content">{{useful.text | safe }}</span>
    </div>

    <hr class="lesson-comment">

        <div class="leave-comment">

            {% if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="POST" action="">
                    {% csrf_token %}
                    <input class="input-comment" type="text" name="body" placeholder="Введите комментарий">
                    <input class="send-comment" type="submit">
                </form>
            </div>

            {% endif %}

        </div>
    
        <div class="container-comment">
    
            <h1>Комментарии:</h1>
    
            {% for comment in comments %}
            
            <div>
                {% if request.user == comment.user %}
                    <a href="{% url 'delete-comment' comment.id %}">Удалить</a>
                {% endif %}
                <small>@{{comment.user}} {{comment.created}}</small>
                <p>{{comment.body}}</p>
                <!-- <hr> -->
            </div>

            {% endfor %}
    
        </div>
    
        {% endblock content %}
    </body>
</html>