{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
</head>

<footer class="footer">
    <p class="footer-text">© Федеральное государственное бюджетное образовательное учреждение высшего образования «Хакасский государственный университет им. Н. Ф. Катанова»</p>
    <p class="footer-text">655017, Республика Хакасия, г. Абакан, проспект Ленина, 90</p>
</footer>