{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/style.css' %}">
</head>
<body>
    
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="static\images\Logotip_primer.jpg" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="title">Самоучитель</span>
                    <span class="sub-title">Чатхан</span>
                    <hr>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a class="link" href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 1. Строение чатхана</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 2. Нотный стан</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 3. Звуки</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 4. Такт и размер</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 5. Струны</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 6. Мелодии</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 7 Мелодии</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 8 Мелодии</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 9 Прием игры</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <i class='bx bx-notepad icon'></i>
                            <span class="text nav-text">УРОК 10. Игра на чатхане как умение делиться опытом</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-link">
                <li>
                    <a href="">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text nav-text">Войти</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

</body>
</html>