{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/style.css' %}">
</head>
<body>
    
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <a href="{% url 'home' %}"><img src="..\static\images\Logotip_primer.jpg" alt="logo"></a>
                </span>

                <div class="text header-text">
                    <span class="title">Самоучитель</span>
                    <span class="sub-title">Чатхан</span>
                    <hr>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    {% for lesson in lessons %}
                        <li class="nav-link">
                            <a class="link" href="{% url 'displayLesson' lesson.id %}">
                                <i class='bx bx-notepad icon'></i>
                                    <span class="text nav-text">УРОК {{lesson.id}}. {{lesson.title}}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="bottom-link">
                <li class="user">Вы вошли как<p class="user-username">@{{request.user}}</li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Выйти</span>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Войти</span>
                        </a>
                    {% endif %}
                </li>
            </div>
        </div>
    </nav>

</body>
</html>