{% extends 'base.html' %}

{% block content %}

<div class="register-form">
    <div class="register-form-box">
        <form method="POST" action="">
            {% csrf_token %}

            <header>Регистрация пользователя</header>

            {% for field in form %}
                <div class="form-input">
                    <label for="room_name">{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}
        
            <div class="form-submit">
                <input type="submit" value="Создать пользователя">
            </div>

            <div class="form-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>

            <div class="login">
                <span>Уже есть аккаунт? <a href="{% url 'login' %}"> Войти </a></span>
            </div>
        </form>
    </div>
</div>

{% endblock content %}