*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(200, 200, 150);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 300px;
    min-height: 100vh;
    width: calc(100% - 300px);
}

:root{
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 15px;
    background-color: rgb(180, 120, 50);
    transition: var(--tran-05);
}

.sidebar .text{
    transition: var(--tran-05);
    opacity: 1;
}

.sidebar .image-text img{
    display: flex;
    margin: 0 auto 10px;
    width: 100px;
    border-radius: 5px;
    transition: var(--tran-05);
}

.sidebar header{
    position: relative;
}

.sidebar header .header-text .title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

.sidebar header .header-text .sub-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
}

.sidebar header .header-text hr{
    margin: auto;
    max-width: 60%;
    border: 1px solid black;
}

.sidebar li{
    height: 50px;
    margin: 10px 0 0 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    min-width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background: rgb(165, 105, 35);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: white;
}

.sidebar .bottom-link{
    height: 100%;
    height: 130px;
    display: flex;
    align-items: flex-end;
}

.sidebar .bottom-link .icon{
    font-size: 30px;
}

.sidebar .bottom-link .text{
    font-size: 24px;
}

.sidebar .bottom-link li{
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(150, 90, 20);
    margin-top: auto;
    height: 80px;
    width: 100%;
}

.footer .footer-text{
    display: flex;
    font-size: 16px;
}