*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 300px;
    min-height: 100vh;
    width: calc(100% - 300px);
    background: #f7f4f3;
}

:root{
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background: url('https://ch-muzei.rh.muzkult.ru/media/2021/07/10/1300791938/DSC_0264_1.jpg') center no-repeat fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    color: white;
    height: 400px;
}

.home .title{
    text-align: left;
    margin: 0 0 0 50px;
    font-size: 50px;
}

.home .sub-title{
    margin: 0 35px 0 35px;
    font-size: 20px;
    text-align: justify;
    font-style: italic;
}

.home .sub-title-container{
    width: 1600px;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 15px;
    background-color: rgb(247, 210, 117);
    transition: var(--tran-05);
}

.sidebar .text{
    transition: var(--tran-05);
    opacity: 1;
}

.sidebar .image-text img{
    display: flex;
    margin: 0 auto 10px;
    width: 100px;
    border-radius: 5px;
    transition: var(--tran-05);
}

.sidebar header{
    position: relative;
}

.sidebar header .header-text .title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    color: #404040;
}

.sidebar header .header-text .sub-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: #404040;
}

.sidebar header .header-text hr{
    margin: auto;
    max-width: 100%;
    border: 1px dashed #404040;
    margin: 8px 0 0 0;
}

.sidebar li{
    height: 50px;
    margin: 10px 0 0 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    min-width: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #404040;
    border-radius: 10px;
    transition: var(--tran-02);
}

.sidebar li a:hover{
    background: rgb(207, 170, 70);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: white;
}

.sidebar .bottom-link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar .bottom-link p{
    display: flex;
    font-size: 18px;
    color: #404040;
}

.sidebar .bottom-link .username{
    color: black;
}

.sidebar .bottom-link .icon{
    font-size: 30px;
}

.sidebar .bottom-link .text{
    font-size: 24px;
    color: #313130;
}

.sidebar .bottom-link li{
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #404040;
    margin-top: auto;
    height: 80px;
    width: 100%;
}

.footer .footer-text{
    display: flex;
    font-size: 16px;
    color: white;
}

.home-cards-container{
    display: flex;
    justify-content: center;
}

.home-cards-container a{
    text-decoration: none;
    color: black;
}

.card-container{
    height: 300px;
    width: 200px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.card-container img{
    height: 130px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    transform: scale(1.02);
}

.home-category-container{
    display: flex;
    margin: 30px auto 0;
    width: 1160px;
}

.category{
    font-size: 24px;
}

.card-container .card-lesson{
    margin: 2px 0 0 18px;
    font-size: 18px;
}

.card-container .card-hr{
    display: flex;
    margin: 5px auto;
    max-width: 80%;
    border: 1px dashed #313130;
}

.card-container .card-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60px;
    width: 180px;
}

.card-container .card-title-container .card-title{
    display: flex;
    text-align: center;
}

.category-hr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    min-width: 70%;
    border: 1px dashed #313130;
}

.slider-container{
    margin: auto;
    width: 70%;
}

.slider-wrapper{
    position: relative;
}

.slider-wrapper .video-list{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    scrollbar-width: none;
    margin: 15px 0 15px 0;
}

.slider-container .slider-scrollbar{
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
}

.slider-container .scrollbar-track{
    position: relative;
    height: 8px;
    width: 100%;
    background: grey;
    border-radius: 4px;
}

.slider-container:hover .scrollbar-track{
    height: 10px;
}

.slider-container .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgb(247, 210, 117);
    border-radius: inherit;
    cursor: grab;
}

.slider-container .scrollbar-thumb:active{
    cursor: grabbing;
    height: 10px;
}

.slider-container .scrollbar-thumb::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

.home-category-container .category-warning{
    opacity: 0.5;
}

.slider-wrapper .slide-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    color: white;
    background: #404040;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.slider-wrapper .slide-button:hover{
    background: #313130;
}

.slider-wrapper .slide-button#prev-slide{
    display: none;
    left: -25px;
}

.slider-wrapper .slide-button#next-slide{
    right: -25px;
}

.lesson-container .lesson-content{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-size: 18px;
    text-align: justify;
    max-width: 80%;
    line-height: 30px;
}

.lesson-container .lesson-content p{
    text-indent: 50px;
}

.lesson-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://ch-muzei.rh.muzkult.ru/media/2021/07/10/1300791938/DSC_0264_1.jpg') center no-repeat fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    color: white;
    height: 180px;
}

.lesson-container .lesson-content h3{
    margin: 5px 0;
}

.lesson-title-container span{
    font-size: 18px;
    opacity: 0.8;
}

.lesson-container .lesson-content img{
    display: flex;
    margin: 15px auto;
    width: 35%;
}

.home-practice-container{
    display: flex;
    justify-content: center;
}

.practice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60px;
    width: 1160px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.practice-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    transform: scale(1.02);
}

.home-practice-container a{
    text-decoration: none;
    color: black;
}

.home-category-container-videos{
    display: flex;
    margin: auto;
    width: 1160px;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login-form-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 210, 117);
    border-radius: 15px;
}

.login-form form{
    width: 400px;
    padding: 25px 25px;
}

.login-form header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
    color: #404040;
    padding: 0 0 15px 0;
    border-bottom: 2px dashed #404040;
}

.login-form .form-input label{
    display: flex;
    font-size: 18px;
    color: #404040;
    margin: 0 0 5px 8px;
}

.login-form .form-input{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.login-form .form-input input{
    height: 28px;
}

.login-form .form-input input:hover{
    border-radius: 2px;
    border: 2px solid #404040;
}

.login-form .form-submit{
    display: flex;
    flex-direction: column;
}

.login-form .form-submit input{
    margin: 20px 0 0 0;
    height: 30px;
    cursor: pointer;
}

.login-form .auth{
    margin: 10px 0 0 10px;
    color: #404040;
}

.login-form .auth a{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
    border-bottom: 1px solid #404040;
}

.login-form .auth a:hover{
    color: white;
    border-color: white;
}

.login-form .form-message{
    font-size: 18px;
    color: rgb(255,51,51);
    margin: 0 0 0 10px;
}

.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.register-form-box{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 210, 117);
    border-radius: 15px;
}

.register-form form{
    width: 400px;
    padding: 25px 25px;
}

.register-form header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #404040;
    padding: 0 0 15px 0;
    border-bottom: 2px dashed #404040;
}

.register-form .form-input label{
    display: flex;
    font-size: 18px;
    color: #404040;
    margin: 0 0 5px 8px;
}

.register-form .form-input{
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 0;
}

.register-form .form-input input{
    height: 28px;
}

.register-form .form-input input:hover{
    border-radius: 2px;
    border: 2px solid #404040;
}

.register-form .form-submit{
    display: flex;
    flex-direction: column;
}

.register-form .form-submit input{
    margin: 20px 0 0 0;
    height: 30px;
    cursor: pointer;
}

.register-form .login{
    margin: 10px 0 0 10px;
    color: #404040;
}

.register-form .login a{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
    border-bottom: 1px solid #404040;
}

.register-form .login a:hover{
    color: white;
    border-color: white;
}

.register-form .form-message{
    font-size: 18px;
    color: rgb(255,51,51);
    margin: 0 0 0 10px;
}

.lesson-comment{
    border: 1px dashed #404040;
}